.main-container {
    margin-top: 100px;
    background-color: #E3F2FD;
    padding: 50px 0;
    border-radius: 25px;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: space-around;
    padding: 50px 0;
}
